<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed " href="/admin/dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/salesReport">
        <i class="bi bi-menu-button-wide"></i><span>SALES REPORT</span>
      </a>

    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/products">
        <i class="bi bi-menu-button-wide"></i><span>PRODUCT LIST</span>
      </a>

    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/category">
        <i class="bi bi-menu-button-wide"></i><span>CATEGORY</span>
      </a>

    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/addproducts">
        <i class="bi bi-journal-text"></i><span>ADD PRODUCT</span>
      </a>

    </li><!-- End Icons Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/orders">
        <i class="bi bi-menu-button-wide"></i><span>ORDERS</span>
      </a>

    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/userview">
        <i class="bi bi-journal-text"></i><span>USERS</span>
      </a>

    </li><!-- End Icons Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/coupon">
        <i class="bi bi-journal-text"></i><span>COUPON</span>
      </a>

    </li><!-- End Icons Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/banners">
        <i class="bi bi-journal-text"></i><span>Banners</span>
      </a>

    </li>

  </ul>

</aside>